<div class="example-button-row">
  <mat-radio-group (change)="selectSource($event, 0)">
    <mat-radio-button [value]="source" *ngFor="let source of sources">{{source | titlecase}}</mat-radio-button>
  </mat-radio-group>

  <mat-form-field>
    <mat-select placeholder="Second Group" (selectionChange)="selectSource($event, 1)">
      <mat-option *ngFor="let source of availableSources(1)" [value]="source">
        {{source | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Third Group" (selectionChange)="selectSource($event, 2)">
      <mat-option *ngFor="let source of availableSources(2)" [value]="source">
        {{source | titlecase}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
