<table mat-table [dataSource]="tableDataSource$" class="mat-elevation-z8">
  <ng-container [matColumnDef]="column.name" *ngFor="let column of displayedColumns$ | async; let i = index">
    <th mat-header-cell *matHeaderCellDef> {{column.display}}</th>
    <td mat-cell class="level" [ngClass]="level(row, i)" *matCellDef="let row" (click)="onRowClick(row)">
      {{format(row[column.name], column.format)}}

    </td>
  </ng-container>

  <!-- Header and Row Declarations -->
  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>

</table>
