<app-toolbar *ngIf="config.toolbar" [config]="config.toolbar" (groupSelected)="onGroupSelected($event)"></app-toolbar>
<app-table [dataSource$]="tableDataSource" [displayedColumns$]="columnsData()" (rowClick)="onRowClick($event)"></app-table>
